*{
    margin: 0;
    padding: 0;
}

body{
    background: #e4e4e4;
    color: #000;
    font-family: Arial;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 22px;
    margin-top: 30px;
}

#jo{
    display: flex;
    justify-content: space-around;
    width: 100%; /*alinhando com espaçamentos iguais*/
}

#jo img{
    width: 500px;
    height: 300px;
    margin-top: 50px;
    border-radius: 20px; /*ajustes nas imagens*/
}